@page
@model CalendarDotNet.Pages.EditEventModel
<h2>@ViewData["Title"] Day Events</h2>
<h3>@Model.Message</h3>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css"/>
</head>
<body>
    <p>Message that you made it</p>
    <body-content>
        here is some generic text
        <p>here is some paragraph text</p>
        <textarea>I forget what this is</textarea>
    </body-content>
</body>
</html>